if typeof errors !== 'undefined' && errors.length > 0
  each errorObj in errors
    .notification.is-danger.is-light.mb-2
      button.delete
      = errorObj.msg

if typeof success_msg !== 'undefined' && success_msg.length > 0
  each msg in success_msg
    .notification.is-success.is-light.mb-2
      button.delete
      = msg

if typeof error_msg !== 'undefined' && error_msg.length > 0
  each msg in error_msg
    .notification.is-danger.is-light.mb-2
      button.delete
      = msg
  
if typeof error !== 'undefined'
  if Array.isArray(error) && error.length > 0
    each singleErrorString in error
      .notification.is-danger.is-light.mb-2
        button.delete
        = singleErrorString
  else if typeof error === 'string' && error.length > 0
    .notification.is-danger.is-light.mb-2
      button.delete
      = error