extends partials/layout

block append head
  - var title = 'Reset Password'

block content
  section.section
    .columns.is-centered
      .column.is-half-tablet.is-one-third-desktop
        h1.title.has-text-centered Reset Your Password
        p.subtitle.is-6.has-text-centered.mb-4 Enter your new password below.
        if errors && errors.length > 0
          each error in errors
            .notification.is-danger.is-light= error.msg
        
        .box
          form(method="POST" action=`/reset-password/${token}`) 
            input(type="hidden" name="token" value=token)
            .field
              label.label(for="password") New Password
              .control.has-icons-left
                input.input#password(type="password" name="password" placeholder="********" required)
                span.icon.is-small.is-left
                  i.fas.fa-lock
            .field
              label.label(for="password2") Confirm New Password
              .control.has-icons-left
                input.input#password2(type="password" name="password2" placeholder="********" required)
                span.icon.is-small.is-left
                  i.fas.fa-lock
            .field.mt-5
              .control
                button.button.is-primary.is-fullwidth(type="submit") Reset Password
        hr
        p.has-text-centered
          a(href="/login") Back to Log In