.card {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
}

.card .card-image img {
  transition: transform 0.3s ease-in-out !important;
}

.card .card-image img:hover {
  transform: scale(1.05);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section.section, .hero {
    flex-shrink: 0;
}

main.section {
    flex-grow: 1;
}